@import 'reset'; //reset CSS file
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); //font
@import 'common'; //components and variables
@import 'preloader'; //preloader page styles
@import 'header'; //header styles
@import 'accordion'; //accordion styles
@import 'degree-body'; //degree pages styles
@import 'footer'; //footer styles

.main-section {
    background-color: $light-gray-2;

    &__wrapper {
        display: flex; //використовуємо Flexbox верстку
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0;

        @media screen and (max-width: 850px) {
            //адаптуємо розташування при роздільній здатності екрану менш ніж 850px
            flex-direction: column;
            padding: 10px 0 50px 0;
        }

        .title-block {
            //стилізуємо блок с заголовками
            padding: 20px 0;
            max-width: 50%;

            h1 {
                @media screen and (max-width: 375px) {
                    //змінюємо розмір шрифту для моб.пристроїв
                    font-size: 50px;
                    transition: all .3s ease;
                }
            }


            p {
                margin-top: 40px;

                @media screen and (max-width: 375px) {
                    //змінюємо розмір шрифту та положення тексту для моб. пристроїв
                    margin-top: 20px;
                    font-size: 16px;
                    transition: all .3s ease;
                }
            }

            button {
                margin-top: 30px;
            }

            @media screen and (max-width: 850px) {
                max-width: 100%;
                text-align: center;
                padding: 0 0 40px 0;
            }
        }

        .image-block {
            max-width: 50%;
            width: 500px;
            height: 500px;

            cursor: pointer;
            border-radius: 15px;

            &:hover {
                transform: scale(1.03);
                -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                transition: all .5s ease;
            }

            @media screen and (max-width: 850px) {
                max-width: 100%;
                width: 100%;
                height: auto;
            }

            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                border-radius: 15px;

                @media screen and (max-width: 850px) {
                    max-width: 100%;
                }
            }
        }
    }
}

.about-section {
    &__wrapper {
        padding: 50px 0;

        .title-block {
            h2 {
                margin-bottom: 25px;
                transition: all .3s ease;

                @media screen and (max-width: 767px) {
                    font-size: $font-size-m;
                }

                @media screen and (max-width: 500px) {
                    font-size: $font-size-s;
                }
            }

            p {
                max-width: 840px;
                margin: 0 auto;
                text-indent: 50px;
                line-height: 30px;
                transition: all .3s ease;

                @media screen and (max-width: 500px) {
                    font-size: $font-size-xs;
                }
            }
        }

        .stats-block {
            margin-top: 100px;

            @media screen and (max-width: 500px) {
                margin-top: 50px;
                transition: all .3s ease;
            }

            h3 {

                @media screen and (max-width: 500px) {
                    font-size: $font-size-s;
                    transition: all .3s ease;
                }
            }

            .cards {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 80px;

                @media screen and (max-width: 780px) {
                    flex-direction: column;
                    margin-top: 30px;
                }

                .card {
                    @media screen and (max-width: 780px) {
                        margin-bottom: 50px;
                    }

                    h4 {
                        @media screen and (max-width: 500px) {
                            font-size: $font-size-m;
                            transition: all .3s ease;
                        }
                    }

                    p {
                        @media screen and (max-width: 500px) {
                            font-size: $font-size-xs;
                        }
                    }
                }
            }
        }
    }
}

.lastupd-section {
    &__wrapper {
        padding: 100px 0;

        @media screen and (max-width: 500px) {
            padding: 50px 0;
            transition: all .3s ease;
        }

        h3 {
            @media screen and (max-width: 500px) {
                font-size: $font-size-s;
                transition: all .3s ease;
            }
        }

        .upd-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 65px 85px;
            margin-top: 65px;
            border-radius: 10px;

            @media screen and (max-width: 920px) {
                flex-direction: column;
                // align-items: flex-start;
                padding: 30px 20px;
            }


            &__img-block {
                max-width: 320px;
                max-height: 320px;

                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                    transition: all .5s ease;
                }

                @media screen and (max-width: 920px) {
                    order: 1;
                    max-width: 450px;
                }

                img {
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                    background-size: cover;
                    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                }
            }

            &__title-block {
                max-width: 375px;
                margin-top: 20px;

                @media screen and (max-width: 920px) {
                    order: 2;
                    max-width: 450px;
                }

                h5 {
                    @media screen and (max-width: 375px) {
                        font-size: 30px;
                        transition: all .3s ease;
                    }
                }

                p {
                    margin: 15px 0 30px 0;

                    @media screen and (max-width: 375px) {
                        font-size: 18px;
                        transition: all .3s ease;
                        margin: 15px 0 15px 0;
                    }
                }

                .btn-block {
                    @media screen and (max-width: 920px) {
                        text-align: center;
                    }

                    button {
                        @media screen and (max-width: 375px) {
                            width: 250px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}